{% extends 'base.html' %}
{% block content %}

<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">
 <div class="row">
                <div class="col-12">
<div class="white_card card_height_100 mb_30">
<div class="white_card_header">
                        <div class="card-body">
   <form method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">
        {% csrf_token %}
                                <div class="row">
<h5 class="form-title"><span>Profile Update</span></h5>
</div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    <div class="white_card_body">
                                <div class="row">
       <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Profile-PIC</label>
<input type="file" class="form-control"  name="profile_pic"  >
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>UserName</label>
    <input type="text" class="form-control"  placeholder=" UserName" value="{{user.username}}" name="username" >
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>First Name</label>
<input type="text" placeholder=" First Name"  value="{{user.first_name}} " name="first_name">
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Last Name</label>
<input type="text" placeholder="Last Name" value="{{user.last_name}}" name="last_name">
</div>
            </div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Email</label>
<input type="text" placeholder="Email" value="{{user.email}}" name="email">
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Password</label>
<input type="password" placeholder="Password" name="password" >
</div>
</div>
<div class="col-lg-16 text-center">
 <button type="submit" class="btn_1 radius_btn d-block "> Update</button>
</div>
            </div>
    </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}