{% extends 'base.html' %}
{% block content %}
<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30"></h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">Ressources</a></li>
<li class="breadcrumb-item active">Document</li>
</ol>
</div>
<div class="page_title_right">
<div class="page_date_button d-flex align-items-center">
<img src="img/icon/calender_icon.svg" alt="">

</div>
</div>
</div>
</div>
</div>
  <div class="row">
                <div class="col-12">
<div class="white_card card_height_100 mb_30">
<div class="white_card_header">
                        <div class="card-body">
                           <form method="post" action="{% url 'add_fichier' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Ajouter Document</span></h5>
                                 </div>

                                 {% include 'includes/messages.html' %}
<div class="white_card_body">
                                <div class="row">
<div class="col-lg-6">
<div class="common_input mb_15">
                                       <label>contenu</label>
                                       <input type="file" class="form-control" name="contenu" required>
                                    </div>
                                 </div>

                <div class="col-lg-6">
<div class="common_input mb_15">
    <label>titre</label>
<input type="text" placeholder="titre" name="titre" required>
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>description</label>
    <textarea class="form-control" name="description" ></textarea>
</div>
</div>
                                                        <div class="col-lg-6">
<div class="common_input mb_15">
       <label>Nature</label>
                                       <select class="nice_Select2 nice_Select_line wide" name="nature" style="display: none;" required>
                                           <option>Select nature</option>
                                                 <option >PNG</option>
                                                    <option >JPEG</option>
                                                      <option >GIF</option>
                                                    <option >AI</option>
                                                    <option >TIFF</option>
                                                    <option >EPS</option>


                                       </select>
</div>
</div>

            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>sujets</label>
<input type="text" placeholder="sujets" name="sujets"  >
</div>
</div>

                                                        <div class="col-lg-6">
<div class="common_input mb_15">
<label class="common_input mb_15">Expire le</label>
<div class="col-xl-5 col-sm-9 common_date_picker">
<input class="datepicker-here  digits " type="text" name="expire" data-multiple-dates="3" data-multiple-dates-separator=", " data-language="en" required>
</div>
</div>
</div>

<div class="col-12">
<div class="create_report_btn mt_30 text-center">
 <button type="submit" class="btn btn-primary"> Ajouter </button>
     <a type="submit"  href="{% url 'view_fichier' %} " class="btn btn-primary">Annuler</a>

</div>
</div>


</div>
                     </div>

                                    </form>
                  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

