{% extends 'base.html' %}
{% block content %}
<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex align-items-center justify-content-between">
<div class="page_title_left">
<h3 class="f_s_30 f_w_700 dark_text">Devis</h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);"> devis</a></li>
<li class="breadcrumb-item"><a href="javascript:void(0);">Details</a></li>
</ol>
 </div>
<a href="#" class="white_btn3">Imprimer</a>
</div>
</div>
</div>
<div class="row ">
<div class="col-12 QA_section">
<div class="card QA_table ">
    {% for i in devis %}
<div class="card-header">

<strong> {{i.created_at}}</strong>
<span class="float-end"> <strong></strong> </span>
</div>
    {% endfor %}
<div class="card-body">
<div class="row mb-4">
        {% for i in devis %}
<div class="col-sm-6">
<h6 class="mb-3"></h6>
<div>
<strong>reference: {{i.reference}} </strong>
</div>
<div>Fournisseur: {{i.client_id.name}}</div>
<div>Date Reception : {{i.date_devis}}</div>
    <div>validite devis : {{i.validite_devis}}</div>
<div>Condition Paiement: {{i.condition}}</div>
<div>Mode Paiement :{{i.paiement}}</div>
</div>
    {% endfor %}


</div>
<div class="table-responsive-sm">
<table class="table table-striped">
<thead>
<tr>
<th class="center">désignation des produits </th>
    <th>Unites</th>
<th>Quantités</th>
<th class="right">Prix Vente</th>
<th class="center">Remise % </th>
<th class="right">TVA </th>
    <th class="right">Montant TTC </th>

</tr>
</thead>
    {% for i in devis %}
<tbody>
<tr>
<td class="center">{{i.article_id.designation}}</td>
    <td class="left">{{i.unite_id.name}}</td>
<td class="left strong">{{i.Quantite}}</td>
<td class="right">{{i.prix_vente}}</td>
<td class="center">{{i.remise}}</td>
<td class="right">{{i.tva}}</td>
    <td class="right">{{i.ttc}}</td>

</tr>

</tbody>
    {% endfor %}
</table>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

