{% extends 'base.html' %}
{% block content %}

<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">
<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30">Fournisseurs</h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">Fournisseurs</a></li>
<li class="breadcrumb-item active">Liste</li>
</ol>
</div>
<div class="page_title_right">
<div class="page_date_button d-flex align-items-center">
<img src="img/icon/calender_icon.svg" alt="">


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12">
<div class="white_card card_height_100 mb_30 pt-4">
<div class="white_card_body">
<div class="QA_section">
<div class="white_box_tittle list_header">
<h4> </h4>
<div class="box_right d-flex lms_block">
<div class="serach_field_2">
<div class="search_inner">
<form Active="#">
<div class="search_field">
<input type="search" name="q" placeholder="Search content here...">
</div>
<button type="submit"> <i class="ti-search"></i> </button>
</form>
</div>
</div>
<div class="add_button ms-2">
<a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
</div>
</div>
</div>
<div class="QA_table mb_30">

<table id="table_id" class="table lms_table_active ">
<thead>
<tr>
<th scope="col">id</th>

<th scope="col">name</th>
    <th scope="col">Email </th>


</tr>
</thead>
<tbody>
{% for i in fournisseur %}

<tr>
<th scope="row"> <a href="#" class="question_content"> {{i.id}} </a></th>

<td><a href="student-details.html">{{i.name}}</a>
                                        </td>
<td><a href="https://demo.dashboardpack.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a8dfc7dac39c9891e8cfc5c9c1c486cbc7c5">{{i.email}}</a></td>

<td>
<div  class="action_btns d-flex">
 <a href="{% url 'edit_fournisseur' i.id %}" class="action_btn mr_10"> <i class="far fa-edit"></i> </a>
<a href="{% url 'delete_fournisseur' i.id %}" class="action_btn"> <i class="fas fa-trash"></i> </a>

</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}