{% extends 'base.html' %}
{% block content %}
<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30"></h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">Reception</a></li>
<li class="breadcrumb-item active">Ajouter</li>
</ol>
</div>
<div class="page_title_right">
<div class="page_date_button d-flex align-items-center">
<img src="img/icon/calender_icon.svg" alt="">

</div>
</div>
</div>
</div>
</div>
  <div class="row">
                <div class="col-12">
<div class="white_card card_height_100 mb_30">
<div class="white_card_header">
                        <div class="card-body">
                           <form method="post" action="{% url 'add_reception' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Reception fournisseur</span></h5>
                                 </div>

                                 {% include 'includes/messages.html' %}

 <div class="row">
<div class="col-lg-13">
<div class="white_card">
<div class="white_card_header border_bottom_1px"><h4 class="card-title mb-0">Gestion Reception</h4></div>

<div class="white_card_body">
                                <div class="row">
              <div class="col-lg-6">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Reference n :</label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="reference"/></div>
</div>
                </div>
        <div class="col-lg-6">
<div class="common_input mb_15">
    <label class="form-label col-xl-3 col-lg-3 col-form-label">Reference Commande</label>
    <select class="nice_Select2 nice_Select_line wide" name="commande_id" style="display: none;" >
        <option>Select Commande </option>
          {% for i in commande %}
        <option value="{{i.id}}"> {{i.reference}}</option>
          {% endfor %}
    </select>
</div>
</div>

                                                        <div class="col-lg-6">
<div class="common_input mb_15">
<label class="common_input mb_15">Date </label>
<div class="col-xl-5 col-sm-9 common_date_picker">
<input class="datepicker-here  digits " type="text" name="date_c" data-multiple-dates="3" data-multiple-dates-separator=", " data-language="en" >
</div>
</div>
                                                        </div>
                                             <div class="col-lg-6">
<div class="common_input mb_15">
      <label> Note (max:100 caractére)</label>
    <textarea class="form-control" name="note" ></textarea>
</div>
</div>

</div>

             </div>
                                </div>
</div>
</div>

<div class="col-lg-13">
<div class="white_card">
<div class="white_card_header border_bottom_1px"><h4 class="card-title mb-0"></h4></div>

<div class="card-body">
<div class="accordion" id="accordionExample">
<div class="card border mb-1 shadow-none">
<div class="white_card_header border_bottom_1px custom-accordion" id="headingOne">
                          <div class="row">

           <div class="col-lg-3">
<div class="common_input mb_15">
    <label class="form-label col-xl-3 col-lg-3 col-form-label">article</label>
    <div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="article_id"  value="{% for i in commande %} {{i.article_id.designation}}{% endfor %}" /></div>

</div>
                                </div>

           <div class="col-lg-5">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Quantite commandée</label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="Quantite"  value="{% for i in commande %} {{i.Quantite}}{% endfor %}" /></div>
</div>
           </div>

           <div class="col-lg-5">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label"> Stock </label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="stock" value="{% for i in article %} {{i.stock}}{% endfor %}" /></div>
</div>
           </div>

           <div class="col-lg-5">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Reception actuelle </label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="actuelle" /></div>
</div>
           </div>

                          </div>
</div>

<div class="col-12">
<div class="create_report_btn mt_30 text-center">
 <button type="submit" class="btn btn-primary"> Ajouter </button>
     <a type="submit"  href="{% url 'view_commande' %}" class="btn btn-primary">Annuler</a>

</div>
</div>


                     </div>
</div>
</div>
</div></div>

                           </form>

<div class="col-lg-15">
<div class="white_card">
<div class="white_card_header border_bottom_1px"><h4 class="card-title mb-0"></h4></div>

<div class="card-body">
<div class="accordion" >
<div class="card border mb-1 shadow-none">
<div class="white_card_header border_bottom_1px custom-accordion" >
                          <div class="row">

           <div class="col-lg-3">
<div class="common_input mb_15">

    {% for i in commande %}
    <ul>
<li>
    <h6 class="m-0">Date commande  : </h6>        {{i.date_c}}
</li>
        <li><h6 class="m-0">Monatnt TTC :</h6> {{i.ttc}}
    </li>
        <li> <h6 class="m-0"> Fournisseur : </h6> {{i.fournisseur_id.name}}
    </li>
    </ul>


    {% endfor %}
</div>
           </div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
                        </div></div></div>
                </div>
  </div>
</div>
</div>


{% endblock %}