{% extends 'base.html' %}
{% block content %}
<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30"></h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">Utilisateurs</a></li>
<li class="breadcrumb-item active">Ajouter</li>
</ol>
</div>
<div class="page_title_right">
<div class="page_date_button d-flex align-items-center">
<img src="img/icon/calender_icon.svg" alt="">

</div>
</div>
</div>
</div>
</div>
  <div class="row">
                <div class="col-12">
<div class="white_card card_height_100 mb_30">
<div class="white_card_header">
                        <div class="card-body">
                           <form method="post" action="{% url 'add_user' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Ajouter Utilisateur</span></h5>
                                 </div>

                                 {% include 'includes/messages.html' %}
<div class="white_card_body">
                                <div class="row">
<div class="col-lg-6">
<div class="common_input mb_15">
                                       <label>Profile Pic</label>
                                       <input type="file" class="form-control" name="profile_pic" required>
                                    </div>
                                 </div>

                <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Nom d'utilisateur</label>
<input type="text" placeholder="username" name="username" required>
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Prenom</label>
<input type="text" placeholder=" First Name" name="first_name" required>
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Nom</label>
<input type="text" placeholder="Last Name" name="last_name" required>
</div>
            </div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Email</label>
<input type="text" placeholder="Email" name="email" required >
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Mot de passe </label>
<input type="password" placeholder="Password" name="password" required >
</div>
</div>
                            <div class="col-lg-6">
<div class="common_input mb_15">
      <label> Adresse</label>
    <textarea class="form-control" name="adresse" ></textarea>
</div>
</div>
                <div class="col-lg-6">
<div class="common_input mb_15">
       <label>Services</label>
    <select class="nice_Select2 nice_Select_line wide" name="services_id" style="display: none;" required>
        <option>Select Services </option>
          {% for i in services %}
        <option value="{{i.id}}"> {{i.name}}</option>
          {% endfor %}
    </select>
</div>
</div>
                                                    <div class="col-lg-6">
<div class="common_input mb_15">
       <label>Roles</label>
    <select class="nice_Select2 nice_Select_line wide" name="role" style="display: none;" required>
        <option>Selet Role </option>
        <option>Admin</option>
               <option>utilisateur</option>
    </select>
</div>
</div>
                    <div class="col-lg-6">
<div class="common_input mb_15">
       <label>Gender</label>
                                       <select class="nice_Select2 nice_Select_line wide" name="gender" style="display: none;" >
                                           <option>Select Gender</option>
                                          <option>Femme</option>
                                          <option>Homme</option>
                                       </select>
</div>
</div>

<div class="col-12">
<div class="create_report_btn mt_30 text-center">
 <button type="submit" class="btn btn-primary"> Ajouter </button>
     <a type="submit"  href="{% url 'view_user' %}" class="btn btn-primary">Annuler</a>

</div>
</div>


</div>
                     </div>

                                    </form>
                  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

