{% extends 'base.html' %}
{% block content %}
<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30"></h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">Devis</a></li>
<li class="breadcrumb-item active">Ajouter</li>
</ol>
</div>
<div class="page_title_right">
<div class="page_date_button d-flex align-items-center">
<img src="img/icon/calender_icon.svg" alt="">

</div>
</div>
</div>
</div>
</div>
  <div class="row">
                <div class="col-12">
<div class="white_card card_height_100 mb_30">
<div class="white_card_header">
                        <div class="card-body">
                           <form method="post" action="{% url 'add_livraison'  %}" enctype="multipart/form-data">
                              {% csrf_token %}
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Gestion Devis</span></h5>
                                 </div>

                                 {% include 'includes/messages.html' %}

 <div class="row">
<div class="col-lg-13">
<div class="white_card">
<div class="white_card_header border_bottom_1px"><h4 class="card-title mb-0"> Création d'un Livraison</h4></div>

<div class="white_card_body">
                                <div class="row">
              <div class="col-lg-6">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Reference n :</label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="reference" /></div>
</div>
                </div>


                                        <div class="col-lg-6">
<div class="common_input mb_15">
<label class="common_input mb_15">Date devis</label>
<div class="col-xl-5 col-sm-9 common_date_picker">
<input class="datepicker-here  digits " type="text" name="date_devis" data-multiple-dates="3" data-multiple-dates-separator=", " data-language="en"  value="{% for i in devis %} {{i.date_devis}}{% endfor %}">
</div>
</div>
                                                        </div>

                                                        <div class="col-lg-6">
<div class="common_input mb_15">
<label class="common_input mb_15">Validité devis </label>
<div class="col-xl-5 col-sm-9 common_date_picker">
<input class="datepicker-here  digits " type="text" name="validite_devis" data-multiple-dates="3" data-multiple-dates-separator=", " data-language="en"  value="{% for i in devis %} {{i.validite_devis}}{% endfor %}" >
</div>
</div>
                                                        </div>
                                               <div class="col-lg-6">
<div class="common_input mb_15">
<label class="common_input mb_15">date commande </label>
<div class="col-xl-5 col-sm-9 common_date_picker">
<input class="datepicker-here  digits " type="text" name="date_commande" data-multiple-dates="3" data-multiple-dates-separator=", " data-language="en" >
</div>
</div>
                                                        </div>
                                               <div class="col-lg-6">
<div class="common_input mb_15">
<label class="common_input mb_15">date livraison </label>
<div class="col-xl-5 col-sm-9 common_date_picker">
<input class="datepicker-here  digits " type="text" name="validite_devis" data-multiple-dates="3" data-multiple-dates-separator=", " data-language="en" >
</div>
</div>
                                                        </div>
                   <div class="col-lg-6">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Condition Paiement</label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="condition" value="{% for i in devis %} {{i.condition}}{% endfor %}" /></div>
</div>
                </div>
                <div class="col-lg-6">
<div class="common_input mb_15">
       <label>Mode Paiement</label>
      <input class="form-control" type="text" name="paiement"  value="{% for i in devis %} {{i.paiement}}{% endfor %}" />

</div>
</div>
                                                                                <div class="col-lg-6">
<div class="common_input mb_15">
      <label> Note (max:100 caractére)</label>
    <textarea class="form-control" name="note" ></textarea>
</div>
</div>
             </div>
                                </div>
</div>
</div>
 </div>


<div class="col-lg-13">
<div class="white_card">
<div class="white_card_header border_bottom_1px"><h4 class="card-title mb-0"></h4></div>

<div class="card-body">
<div class="accordion" id="accordionExample">
<div class="card border mb-1 shadow-none">
<div class="white_card_header border_bottom_1px custom-accordion" id="headingOne">
                          <div class="row">

                    <div class="col-lg-3">
<div class="common_input mb_15">
    <label class="form-label col-xl-3 col-lg-3 col-form-label">article</label>

   <input class="form-control" type="text" name="devis_id"  value="{% for i in devis %} {{i.article_id.designation}}{% endfor %}" />
</div>
                                </div>


      <div class="col-lg-3">
<div class="common_input mb_15">
    <label class="form-label col-xl-3 col-lg-3 col-form-label">Unite</label>

   <input class="form-control" type="text" name="devis_id"  value="{% for i in devis %} {{i.unite_id.name}}{% endfor %}" />
</div>
                                </div>
           <div class="col-lg-3">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Quantite</label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="Quantite" value="{% for i in devis %} {{i.Quantite}}{% endfor %}" /></div>
</div>
           </div>
           <div class="col-lg-3">
<div class="common_input mb_15">

<label class="form-label col-xl-3 col-lg-3 col-form-label"> prix_vente</label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="prix_vente" value="{% for i in devis %} {{i.prix_vente}}{% endfor %}" /></div>
</div>
           </div>
           <div class="col-lg-3">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Remise </label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="remise" value="{% for i in devis %} {{i.remise}}{% endfor %}" /></div>
</div>
           </div>
           <div class="col-lg-3">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">TVA</label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="tva" value="{% for i in devis %} {{i.tva}}{% endfor %}" /></div>
</div>
           </div>
           <div class="col-lg-3">
<div class="common_input mb_15">
<label class="form-label col-xl-3 col-lg-3 col-form-label">Montant TTC </label>
<div class="col-lg-9 col-xl-8"><input class="form-control" type="text" name="ttc" value="{% for i in devis %} {{i.ttc}}{% endfor %}" /></div>
</div>
           </div>

                          </div>
</div>

<div class="col-12">
<div class="create_report_btn mt_30 text-center">
 <button type="submit" class="btn btn-primary"> Ajouter </button>
     <a type="submit"  href="{% url 'view_devis_v' %}" class="btn btn-primary">Annuler</a>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
                           </form>
</div>
  <div class="QA_table mb_30">
<table id="table_id" class="table lms_table_active ">
<thead>
<tr>
<th class="center">désignation des produits </th>
    <th>Unites</th>
<th>Quantités</th>
<th class="right">prix_vente</th>
<th class="center">Remise % </th>
<th class="right">TVA </th>
    <th class="right">Montant TTC </th>
</tr>
</thead>
<tbody>
{% for i in devis %}
<tr>
<td class="center">{{i.article_id.designation}}</td>
    <td class="left">{{i.unite_id.name}}</td>
<td class="left strong">{{i.Quantite}}</td>
<td class="right">{{i.prix_vente}}</td>
<td class="center">{{i.remise}}</td>
<td class="right">{{i.tva}}</td>
    <td class="right">{{i.ttc}}</td>

<td>
    <div  class="action_btns d-flex">
<a href="{% url 'delete_devis' i.id %}" class="action_btn"> <i class="fas fa-trash"></i> </a>

</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>

</div>
</div>
 </div>


{% endblock %}