{% extends 'base.html' %}
{% block content %}



<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">
    <div class="row">
                <div class="col-18">
<div class="white_card card_height_100 mb_30">
<div class="white_card_header">
        <a href="{% url 'event_new' %}" class="action_btn" > <i class="fas fa-plus" ></i> </a>

<div>
    <div class="clearfix">
	<a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
</div>

   {{ calendar }}
</div>
</div>
</div>
               <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

                </div>
    </div>
</div>
</div>

{% endblock %}