{% extends 'base.html' %}
{% block content %}
<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex align-items-center justify-content-between">
<div class="page_title_left">
<h3 class="f_s_30 f_w_700 dark_text">Ressources</h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">ressource </a></li>
<li class="breadcrumb-item"><a href="javascript:void(0);">Note</a></li>
<li class="breadcrumb-item active">Liste</li>
</ol>
 </div>
<a href="{% url 'note_add' %}" class="white_btn3">Ajouter </a>
</div>
</div>
</div>
       <form method="get">
<div class="box_right d-flex lms_block">
 {{myFilter.form}}
</div>
         <br>
<div class="add_button ms-2">
<button href="#"  class="btn_1">Filter</button>
</div>
        </form>
    <br>
    <div class="main_content_iner ">
<div class="container-fluid p-0 sm_padding_15px">
<div class="row justify-content-center">

<div class="col-lg-12">
      {% for i in note %}
<div class="white_card card_height_100 mb_30">

<div class="white_card_header">
<div class="box_header m-0">
<div class="main-title">
<h3 class="m-0">{{i.titre}}</h3>
</div>

</div>
<img class="img-fluid img-thumbnail js-tilt" src="/{{i.photo}}" transform-style="preserve-3d" transform="translateZ(20px)" data-tilt-perspective="300" data-tilt-speed="400" data-tilt-max="5" width="250px" alt="">
</div>
<div>
    <h5 class="SubTitle f-15 f-w-500 mt_20 text-uppercase ">
</h5>
<p>
{{i.description}}.
</p>

<p> <div> <code> </code>{{i.created_at}}</div></p>
<p><div class="text-center"> <code></code>{{i.updated_at}}</div></p>
</div>
</div>
    </div>
       {% endfor %}
</div>

</div>

</div>
</div>
</div>

</div>
</div>

{% endblock %}