{% extends 'base.html' %}
{% block content %}

<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">
<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30">Documents</h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">document</a></li>
<li class="breadcrumb-item active">Liste</li>
</ol>
</div>
<div class="page_title_right">
<div class="page_date_button d-flex align-items-center">
<img src="img/icon/calender_icon.svg" alt="">
        <a href="{% url 'add_fichier' %}" class="action_btn" > <i class="fas fa-plus" ></i> </a>

</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12">
<div class="white_card card_height_100 mb_30 pt-4">
<div class="white_card_body">
<div class="QA_section">
<div class="white_box_tittle list_header">
    <form method="get">
<div class="box_right d-flex lms_block">
<div class="row">
<div class="col">

 {{myFilter.form}}
</div>
</div>
<div class="add_button ms-2">
<button href="#"  class="btn_1">Filter</button>
</div>
</div>
        </form>
</div>
<div class="QA_table mb_30">
<table id="table_id" class="table lms_table_active ">
<thead>
<tr>
<th scope="col">id</th>
<th scope="col">titre</th>
            <th scope="col">Utilisateur </th>

    <th scope="col">contenu </th>
    <th scope="col">created_at</th>
    <th scope="col">updated_at</th>

    <th scope="col">Action</th>

</tr>
</thead>
<tbody>
{% for i in fichierdoc %}
<tr>
<th scope="row"> <a href="#" class="question_content"> {{i.id}} </a></th>

<td><a href="student-details.html">{{i.titre}}</a>

<td><a href="student-details.html"> {{user.first_name}}&nbsp;{{user.last_name}}</a>
                                        </td>
<td><a download href="{{i.contenu.url}}"  >{{i.contenu}}</a></td>
      <td><a href="#">{{i.created_at}}</a></td>
      <td><a href="#">{{i.updated_at}}</a></td>


<td>

<div class="header_more_tool">
<div class="dropdown">
<span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
<i class="ti-more-alt"></i>
</span>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; transform: translate3d(-148px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
<a class="dropdown-item" href="{% url 'voir_fichier' i.id %}"> <i class="ti-eye"></i> Action</a>
<a class="dropdown-item" href="{% url 'delete_fichier' i.id %}"> <i class="ti-trash"></i> Delete</a>
<a class="dropdown-item" href="{% url 'edit_fichier' i.id %}"> <i class="fas fa-edit"></i> Edit</a>
    <a class="dropdown-item" href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-email"></i> Send</a>
<a class="dropdown-item" download href="{{i.contenu.url}}"  > <i class="fa fa-download"></i> Download</a>
</div>
</div>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
       <form method="post" action="{% url 'send_fichier' %}" >
                              {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

                                  <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Email</label>
<input type="text" placeholder="Email" name="email" required>
</div>
</div>
<div class="col-lg-6">
<div class="common_input mb_15">
    <label>contenu</label>
                                       <input type="file" class="form-control" name="fichierdoc_id"  value="{% for i in fichierdoc %} {{i.contenu}}{% endfor %}">
                                    </div>
                                 </div>

                <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Subject</label>
<input type="text" placeholder="titre" name="subject" >
</div>
</div>
            <div class="col-lg-6">
<div class="common_input mb_15">
    <label>Message</label>
    <textarea class="form-control" name="message" ></textarea>
</div>
</div>
              </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Envoyer</button>
        <button type="button" class="btn btn-primary">Effacer</button>
      </div>
    </div>
       </form>
  </div>

</div>
{% endblock %}