{% extends 'base.html' %}
{% block content %}

<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">
<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30">achat Fournisseur</h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">commande</a></li>
<li class="breadcrumb-item active">Gestion Commande</li>
</ol>
</div>
<div class="page_title_right">
<div class="page_date_button d-flex align-items-center">
        <a href="{% url 'add_commande' %}" class="action_btn" > <i class="fas fa-plus" ></i> </a>

</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12">
<div class="white_card card_height_100 mb_30 pt-4">
<div class="white_card_body">
<div class="QA_section">
<div class="white_box_tittle list_header">
    <form method="get">

<div class="box_right d-flex lms_block">
 {{myFilter.form}}
</div>
         <br>
<div class="add_button ms-2">
<button href="#"  class="btn_1">Filter</button>
</div>
        </form>
    <br>
</div>
<div class="QA_table mb_30">

<table id="table_id" class="table lms_table_active ">
<thead>
<tr>
<th scope="col">id</th>
<th scope="col">reference</th>
    <th scope="col">Fournisseur </th>
    <th scope="col">date Commande </th>
<th scope="col">Date Reception</th>
<th scope="col">Montant TTC </th>
    <th scope="col">Action</th>

</tr>
</thead>
<tbody>
{% for i in commande %}
<tr>
<th scope="row"> <a href="#" class="question_content"> {{i.id}} </a></th>
    <td><a href="student-details.html">{{i.reference}}</a>
                                        </td>
<td><a href="#" >{{i.fournisseur_id}}</a></td>
<td><a href="#" >{{i.date_c}}</a></td>
    <td><a href="#">{{i.date_r}}</a></td>
        <td><a href="#">{{i.ttc}}</a></td>

<td>


<div class="header_more_tool">
<div class="dropdown">
<span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
<i class="ti-more-alt"></i>
</span>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; transform: translate3d(-148px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
<a class="dropdown-item" href="{% url 'voir_commande' i.id %}"> <i class="ti-eye"></i> Voir</a>
<a class="dropdown-item" href="{% url 'delete_commande' i.id  %} " ><i class="ti-trash"></i> Supprimer</a>
<a class="dropdown-item" href="{% url 'edit_commande' i.id %}"> <i class="fas fa-edit"></i> Modifier</a>
    <a class="dropdown-item" href="{% url 'add_reception_c' i.id %}"> <i class="fas fa-plus"></i> Reception</a>


</div>
</div>...
</div>
</td>

</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}